################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
crawling/accomodation/Accomodations.v02.xlsx
crawling/accomodation/Accomodations.v01.xlsx
crawling/accomodation/Accomodations.v03.xlsx
DCC_lunch/kakaotalk_token.py
